main {
    width: 100%;
    min-height: 100vh;/* Altura da janela do dispositivo*/
    background-color: var(--cor-cinca-claro2-branco);
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div{
    background-color: var(--cor-cinza-claro);
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    
}

/*formulário*/
#formulario{
   
    height: 300px;
    /*background-color: bisque;*/
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

#secao-cadastro{
    width: 340px;
    height: 50px;
    /*background-color: black;*/
    
}

.estilo-formulario{
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branca);
}

.informacao-aplicativo{
    background-color: transparent;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;

}

#secao-instalacao img{
    width: 133px;
    height: 39px;
    
}
#secao-instalacao {
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

