#cabecalho{
    width: 100%;/* 100$ da janela de visualização*/
    background-color: var(--cor-cinza);
    height: 80px;
    display: flex;
    justify-content: center;
   /* align-items: center;*/
   border-bottom: 2px solid var(--cor-cinza-escuro3) ;
}

.foto-perfil2{
    width: 100px;
    height: 100px;
    object-fit: cover;/* Redimensiona a foto*/
    object-position: center;
    border-radius: 50%;
}

.username{
    font-family: Gabarito;
    font-size: var(--tamanho-fonte-lg);
    font-weight: 800;
}